# IDE files
.idea/
*.iml

# Local Configs
local.properties
/local.properties

# Build
/build
**/build/
.gradle
.cxx
.externalNativeBuild
captures/

# MacOS
.DS_Store

# Other Caches
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Kotlin/Compose
*.kotlin_module

*.hprof
